.container-contact {
    width: 70%;
    height: 80vh;
    margin: 0 auto;
}

.contacts {
    display: grid;
    margin: 91px 0;
    grid-template-columns: repeat(2,1fr);
}

.contact-title {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 6px;
}

.contact-subtitle {
    font-size: 1rem;
    line-height: 1.6em;
}

.contact-self-desc {
    margin-top: 30px;
}

.contact-box {
    margin-bottom: 19px;
}

.contact-box-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* End of Contact Description */

.contact-form {
    width: 479px;
}

.contact-form-box {
    margin-right: 2rem;
}

.contact-box-form {
    display: flex;
}

.contact-form-input {
    width: 100%;
    padding: 2px;
    height: 37px;
    margin: 10px 0;
    background-color: transparent;
    border: 1px solid grey;
}

.contact-form-textarea {
    height: 100px;
}