.container-resume {
    width: 1139px;
    margin: 91px auto;
}

.title {
    font-size: 42px;
    font-weight: 500;
}

.resume-box {
    margin: 33px 0px 10px 0px;
    border-bottom: 1px solid grey;
}

.resume-box:nth-last-child(1) {
    border: 0;
}

.resume-box-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.resume-title {
    font-weight: 600;
    font-size: 25px;
}

.resume-description-flex {
    display: flex;
    margin-bottom: 53px;
}

.resume-date {
    width: 128px;
    font-size: 1rem;
    margin-right: 12px;
}

.resume-work-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.resume-work-description {
    font-size: 1rem;
    line-height: 1.6em;
    width: 340px;
}

.list-skills {
    list-style: disc;
    width: 352px;
    margin-left: 150px;
}

.list-skills-item {
    line-height: 1.8em;

}